.hidden{
    display: none;
}

/* 배경 이미지 설정 */
#bg-img {
    position: fixed;    /* 이미지를 화면에 고정하여 스크롤 시에도 유지 */
    top: 0;            
    left: 0;           
    width: 100%;       
    height: 100%;      
    object-fit: fill;
    object-position: center;
    z-index: -1;        /* 다른 모든 요소의 뒤에 위치 */
}